@model NetGoLynx.Models.IndexModel
@{
    ViewData["Title"] = "All Golinks";
}

<h1 class="display-4">Current links</h1>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.Redirects.FirstOrDefault().RedirectId)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Redirects.FirstOrDefault().Name)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Redirects.FirstOrDefault().Target)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var redirect in Model.Redirects)
        {
            <tr>
                <td id="rdr-@redirect.RedirectId">
                    @Html.DisplayFor(m => redirect.RedirectId)
                </td>
                <td>
                    @Html.DisplayFor(m => redirect.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => redirect.Target)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.HighlightRedirectId != -1)
{
    <script>
        $(function () {
            $('html, body').animate({
                scrollTop: $('#rdr-@Model.HighlightRedirectId').offset().top
            }, 1000);
        });
    </script>
}